/* FONT-SIZE 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 32 / 48 / 64 / 80 / 96 / 112 / 128 / 160 / 176
*/

/* SECTION PROJETOS */
.section-projetos{
  padding: 4.8rem 0 6.4rem 0;
}

.projetos-container{
  background-color: var(--color-gray09);
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 5rem;
  border-radius: 1.2rem;
}

.projetos-headline{
  padding-top: 6.4rem;
}

.projetos-headline-h2{
  font-family: 'SFprodisplay-md',sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 110%;
}

.projetos-headline span{
  color: var(--color-blue);
}

/* PROJECT CARDS */
.projetos-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3.2rem;
  padding: 3.2rem 1.6rem;
  gap: 2.0rem;
}

.projetos-card{
  padding: 2rem;
  border: 1px solid var(--color-gray04);
  border-radius: 23px;
  transition: all 0.5s ease;
}

.projetos-card img{
  object-fit: cover;
  overflow: hidden;
  border-radius: 1.5rem;
  transition: all 0.5s ease;
}

.projetos-card img:hover{
  transform: scale(1.1);
}

.projetos-card:hover{
  border: 1px solid var(--color-blue);
}

.projetos-card-text{
  margin-top: 1.6rem;
}

.projetos-card-first-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projetos-card-h3{
  font-family: 'SFprodisplay-md',sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 110%;
  text-overflow: ellipsis;
}

.projeto-description{
  font-family: 'Archivo',sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-gray04);
  margin-top: 1.6rem;
}


.projeto-status{
  padding: 4px 16px;
  border-radius: 4px;  
  font-family: 'Archivo',sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 160%;
  margin-left: 1.6rem;
}

.incompleto{
  background-color: var(--color-red);
  color: var(--color-gray01); 
}

.completo{
  color: var(--color-gray08); 
  background-color: var(--color-green);
}



